
*.meta
GameProtos/Library/*
GameProtos/Logs/*
GameProtos/Temp/*
GameProtos/obj/*
GameProtos/Packages/*
GameProtos/ProjectSettings/*
GameProtos/.vsconfig
*.sln

GameProtos/UserSettings/*
GameProtos/Assembly-CSharp.csproj
GameProtos/Assets/Scenes/*
GameProtos/Assets/Tester/*
GameProtos/Assets/AurynSky/*
GameProtos/Assets/DogKnight/*
GameProtos/Assets/WizardPolyArt/*
GameProtos/Assets/Meshtint Free Boximon Fiery Mega Toon Series/*

GameProtos/.vs/GameProtos/v16/.suo
GameProtos/chessrpg.apk
